{% extends "pipeline.html" %}
<link rel="stylesheet" type="text/css" href="../static/pipeline.css">

{% block content %}
    <h1>{{ heading_text }}</h1>
    <form class="form-format" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <div class="row">
            {{ form.name.label }}
            {{ form.name() }}
        </div><br>
        <div class="row">
            {{ form.address.label }}
            {{ form.review_address() }}
        </div>
        <div class="row">
            {{ form.address() }}
        </div><br>
        <div class="row">
            {{ form.company.label }}
            {{ form.review_company() }}
        </div>
        <div class="row">
            {{ form.company() }}
        </div><br>
        <div class="row">
            {{ form.active.label }}
            {{ form.active()}}
        </div><br>
        <div class="row">
            {{ form.validate_update() }}
            {{ form.validate_cancel() }}
        </div>
        {% if contact %}
            <div class="row">
                {{ form.contacts.label }}
                {{ form.review_contact() }}
            </div>
            <div class="row">
                {{ form.contacts() }}
            </div><br>
        {% endif %}
        {% if task %}
            <div class="row">
                {{ form.tasks.label }}
                {{ form.review_task() }}
            </div>
            <div class="row">
                {{ form.tasks() }}
            </div>
        {% endif %}
    </form>
{% endblock %}