{% extends "pipeline.html" %}
<link rel="stylesheet" type="text/css" href="../static/pipeline.css">

{% block content %}
    <h1>{{ heading_text }}</h1>
    <form class="form-format" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <div class="row">
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div class="row">
            {{ form.username.label }}
            {{ form.username() }}
        </div>
        <div class="row">
            {{ form.password.label }}
            {{ form.password() }}
        </div>
        <div class="row">
            {{ form.contact.label }}
            {{ form.contact() }}
        </div>
        <div class="row">
            {{ form.role.label }}
            {{ form.role(size=6) }}
        </div>
        <div class="row">
            {{ form.active.label }}
            {{ form.active()}}
        </div>
        <div class="row">
            {{ form.submit() }}
            {{ form.cancel() }}
        </div>
    </form>
{% endblock %}