{% extends "pipeline.html" %}
<link rel="stylesheet" type="text/css" href="../static/pipeline.css">

{% block content %}
    <h1>{{ heading_text }}</h1>
    <form class="form-format" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.id() }}
        <div class="row">
            {{ form.name.label }}
            {{ form.name() }}
        </div>
        <div class="row">
            {{ form.active.label }}
            {{ form.active()}}
        </div>
        <div class="row">
            {{ form.validate_update() }}
            {{ form.validate_cancel() }}
        </div><br><br>
        {% if contact %}
            <div class="row">
                {{ form.contacts.label }}
                {{ form.review_contact() }}
            </div>
            <div class="row">
                {{ form.contacts() }}
            </div>
        {% endif %}
        {% if authorizer %}
            <div class="row">
                {{ form.authorizers.label }}
                {{ form.add_authorizer() }}
                {{ form.remove_authorizer() }}
            </div>
            <div class="row">
                {{ form.authorizers() }}
            </div>
        {% endif %}
        {% if site %}
            <div class="row">
                {{ form.sites.label }}
                {{ form.review_site() }}
            </div>
            <div class="row">
                {{ form.sites() }}
            </div>
        {% endif %}
    </form>
{% endblock %}